.DS_Store
build/
out/
target/
bin/
LocatorOne/
ServerOne/
*/caches/
*/native/
*/wrapper/
*/daemon/

initial-gemfire-look-aside-cache/daemon/6.6/registry.bin
initial-gemfire-look-aside-cache/daemon/6.6/registry.bin.lock

.gradle
.springBeans
*.*#
*.*~
*.bin
*.lock
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings/
.idea/
_site/
.bak/
*.dat
deps*

/samples/hello-world/vf.gf.dmn-events.cfg
/samples/hello-world/vf.gf.dmn-license.cfg
/vf.gf.dmn-events.cfg
/vf.gf.dmn-events.txt
/vf.gf.dmn-license.cfg

/BACKUP*
